<h1 class="text-center">Create a Product</h1>
<!-- Create form-->
<div class="container">
  <div class="row">
    <div class="col-12 d-grid">
        <div class="form-group d-grid">
          <mat-form-field appearance="outline">
            <mat-label>Product Name</mat-label>
            <input
              matInput
              type="text"
              placeholder="Placeholder"
              #txtProductName
            />
            <mat-icon matSuffix>sort_by_alpha</mat-icon>
          </mat-form-field>
        </div>
        <div class="form-group d-grid">
          <mat-form-field appearance="outline">
            <mat-label>Stock</mat-label>
            <input matInput type="number" placeholder="Placeholder" #txtStock />
            <mat-icon matSuffix>confirmation_number</mat-icon>
          </mat-form-field>
        </div>
        <div class="form-group d-grid">
          <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input matInput type="number" placeholder="Placeholder" #txtPrice />
            <mat-icon matSuffix>monetization_on</mat-icon>
          </mat-form-field>
        </div>
        <div class="form-group">
          <button mat-raised-button color="primary" (click)="createProduct(txtProductName,txtStock,txtPrice)">Add</button>
        </div>
    </div>
  </div>
</div>
