<div class="container-fluid">
  <div class="row">
     <div class="col-12">
      <app-header></app-header>
      <mat-drawer-container class="admin-container">
        <mat-drawer mode="side" opened class="sideMenu">
          <h3>Menu</h3>
          <hr />
          <app-sidebar></app-sidebar>
        </mat-drawer>
        <mat-drawer-content>
          <router-outlet></router-outlet>
        </mat-drawer-content>
      </mat-drawer-container>
    <app-footer></app-footer>
     </div>

  </div>

</div>

